{namespace dev=KayStrobach\Developer\ViewHelpers}
<f:layout name="Default" />

<f:section name="Buttons">

</f:section>

<f:section name="Content">
	<h1>How to add your own icon</h1>
	<p>
		You add further icons from your own extension using:
	</p>

	<dev:format.code language="php" title="the short way">
		\TYPO3\CMS\Backend\Sprite\SpriteManager::addSingleIcons(
			array(
				'wrench' => \TYPO3\CMS\Core\Utility\ExtensionManagementUtility::extRelPath($_EXTKEY) . 'Resources/Public/Icons/iconmonstr-wrench-7-icon-16.png',
			),
			$_EXTKEY
		);
	</dev:format.code>

	<dev:format.code language="php" title="the multiicon way">
		// ext_tables.php:
		$icons = array('extensions-myextension-icon1', 'extensions-myextension-icon2');
		\TYPO3\CMS\Backend\Sprite\SpriteManager::addIconSprite(
			$icons,
			\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::siteRelPath('myextension') . 'myextension_sprite.css'
		);

		// myextension_sprite.css:
		.t3-icon-extensions-myextension {
		background-image:url(../../typo3conf/ext/myextension/myextension_sprite.gif);
		}
		.t3-icon-extensions-myextension-icon1 {	background-position: 0px 0px; }
		.t3-icon-extensions-myextension-icon2 {	background-position: 0px -16px; }
	</dev:format.code>

	<h1>Core Sprite Icons Generation</h1>
	<f:form action="regenerateSkinFiles">
		<div class="typo3-message message-warning">
			<div class="message-header">
				Attention, please use this function with care
			</div>
			<div class="message-body">
				<p>
					This function will try to change core files to render new sprite files
				</p>
				<f:form.button>
					<f:Be.Buttons.Icon icon="actions-system-cache-clear-impact-high" />
					Regenerate Core Sprite Icons
				</f:form.button>
			</div>
		</div>
	</f:form>

	<h1>Icons currently available</h1>
	<table class="t3-table">
		<thead>
			<tr>
				<td>Preview</td>
				<td>Sprite name</td>
				<td>Css Class</td>
			</tr>
		</thead>
		<tbody>
			<f:for each="{sprites}" as="sprite">
				<tr>
					<td>
						<f:Be.Buttons.Icon icon="{sprite}" />
					</td>
					<td>
						{sprite}
					</td>
					<td>
						<dev:Be.Buttons.IconClass icon="{sprite}" />
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>