{namespace dev=KayStrobach\Developer\ViewHelpers}

<f:layout name="Default" />

<f:section name="Buttons">

</f:section>

<f:section name="BeforeContent">

</f:section>

<f:section name="Content">
	<div style="float: left;">
		<h1>Get in touch with the community</h1>

		<p>
			The TYPO3 community offers lots of resources to get in touch with other users, developers or people around the globe.
			<br>
			We really want you to participate, this thinking is motivated by our slogan "Inspiring people to share".
		</p>

		<p>
			<a href="http://typo3.org/my-account/sign-up/" target="_blank">
				To get access to some of the resources you need a TYPO3.org account.
			</a>
			These accounts are generally free and you won't get spammed.
		</p>

		<h2>Official Communication channels</h2>
		<ul>
			<li><a href="http://www.typo3.org" target="_blank">TYPO3.org</a></li>
			<li><a href="http://forum.typo3.org" target="_blank">TYPO3.org forum</a></li>
			<li><a href="http://lists.typo3.org/" target="_blank">TYPO3.org mailinglists (connected to the forum)</a></li>
		</ul>

		<h2>Official Security and News channels</h2>
		<ul>
			<li><a href="http://typo3.org/teams/security/security-bulletins/" target="_blank">TYPO3 Security Bulletins</a></li>
			<li><a href="http://typo3.org/news/development/" target="_blank">Development News</a></li>
			<li><a href="http://typo3.org/news/community/" target="_blank">Community News</a></li>
		</ul>

		<h2>Social Communication channels</h2>
		<ul>
			<li><a href="http://webchat.freenode.net?channels=typo3%2Ctypo3-cms" target="_blank">freenode #typo3 and #typo3-cms</a></li>
			<li><a href="https://twitter.com/typo3" target="_blank">twitter.com/typo3</a></li>
			<li><a href="https://www.facebook.com/typo3" target="_blank">facebook.com/typo3</a></li>
			<li><a href="https://plus.google.com/communities/104410053692531620800" target="_blank">google plus</a></li>
		</ul>

		<h2>Developer Communication Resources</h2>
		<ul>
			<li><a href="https://forge.typo3.org/" target="_blank">Forge - collaborative development plattform</a></li>
			<li><a href="https://review.typo3.org" target="_blank">Gerrit - code review system</a></li>
			<li><a href="https://notes.typo3.org" target="_blank">Etherpad - work on documents</a></li>
			<li><a href="http://wiki.typo3.org" target="_blank">Wiki - share your Knowledge</a></li>
			<li><a href="https://typo3.slack.com/" target="_blank">slack, mainly used for internal stuff, request invitation via admin@typo3.org</a></li>
		</ul>
	</div>
	<div style="width: 600px; height:600px; float: right;">
		<a class="twitter-timeline" href="https://twitter.com/typo3" data-widget-id="522063688576937984">Tweets von @typo3</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>



</f:section>