<f:layout name="Default" />

<f:section name="Buttons">

</f:section>

<f:section name="Content">
	<div>
		<f:format.raw>
			{phpinfo}
		</f:format.raw>
	</div>
	<f:for each="{information}" as="section" key="sectionName">
		<h2>{sectionName}</h2>
		<table class="t3-table">
			<col width="33%">
			<col width="33%">
			<col width="33%">
			<thead>
				<tr>
					<td>
						Key
					</td>
					<td>
						Value
					</td>
					<td>
						Default Value
					</td>
				</tr>
			</thead>
			<tbody>
				<f:for each="{section}" as="value" key="key">
					<tr>
						<td>
							{key}
						</td>
						<td>
							<f:format.raw>{value.0}</f:format.raw>
						</td>
						<td>
							<f:format.raw>{value.1}</f:format.raw>
						</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:for>
</f:section>