{namespace dev=KayStrobach\Developer\ViewHelpers}

<f:layout name="Default" />

<f:section name="Buttons">

</f:section>

<f:section name="Content">
	<h1>PHP Information</h1>
	<h2>Sections</h2>
	<ul>
		<f:for each="{information}" as="section" key="sectionName">
			<li>
				<a href="#{dev:md5(value:sectionName)}">{sectionName}</a>
			</li>
		</f:for>
	</ul>
	<h2>Data</h2>
	<f:for each="{information}" as="section" key="sectionName">
		<h3 id="{dev:md5(value:sectionName)}">{sectionName}</h3>
		<table class="t3-table">
			<col width="33%">
			<col width="33%">
			<col width="33%">
			<thead>
				<tr>
					<td>
						Key
					</td>
					<td>
						Value
					</td>
					<td>
						Default Value
					</td>
				</tr>
			</thead>
			<tbody>
				<f:for each="{section}" as="value" key="key">
					<f:if condition="{value.0}">
						<tr>
							<td>
								{key}
							</td>
							<td>
								<f:format.raw>{value.0}</f:format.raw>
							</td>
							<td>
								<f:format.raw>{value.1}</f:format.raw>
							</td>
						</tr>
					</f:if>
				</f:for>
			</tbody>
		</table>
	</f:for>
</f:section>