{namespace dev=KayStrobach\Developer\ViewHelpers}
<f:layout name="Default" />

<f:section name="Buttons">

</f:section>

<f:section name="Content">
	<h1>
		Upload your extension {extensionName}
	</h1>
	<f:form action="uploadProcess">
		<table class="t3-table">
			<tbody>
				<tr>
					<td>
						extension key
					</td>
					<td>
						<f:form.select name="extensionName" options="{extensions}" optionLabelField="key" optionValueField="key" sortByOptionLabel="1" value="{extensionName}" class="expandField"/>
					</td>
				</tr>
				<tr>
					<td>
						Username
					</td>
					<td>
						<f:form.textfield name="username"    placeholder="username" class="expandField" value="{username}"/>
					</td>
				</tr>
				<tr>
					<td>
						Password
					</td>
					<td>
						<f:form.password name="password" additionalAttributes="{placeholder:'password'}" class="expandField" />
					</td>
				</tr>
				<tr>
					<td>
						Upload comment
					</td>
					<td>
						<f:form.textarea name="description" placeholder="description" class="expandField" />
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
					<td>
						<f:form.submit value="upload" />
					</td>
				</tr>
			</tbody>
		</table>
	</f:form>
</f:section>