{namespace dev=KayStrobach\Developer\ViewHelpers}
<f:be.container
		pageTitle="plimm"
		loadJQuery="1"
		includeCssFiles="{
			0: '../typo3conf/ext/developer/Resources/Public/Stylesheet/main.css',
			1: '../typo3conf/ext/developer/Resources/Public/Contrib/Highlight/styles/github.css'
		}"
		includeJsFiles="{
			0: '../typo3conf/ext/developer/Resources/Public/Contrib/Highlight/highlight.pack.js'
		}"
		>
	<script>hljs.initHighlightingOnLoad();</script>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.menus.actionMenu>
						<dev:be.menus.actionMenuItemGroup label="General">
							<f:be.menus.actionMenuItem label="Overview" controller="Default" action="index" />
							<f:be.menus.actionMenuItem label="Get in touch with the Community" controller="Community" action="index" />
							<f:be.menus.actionMenuItem label="Documentation" controller="Community" action="documentation" />
						</dev:be.menus.actionMenuItemGroup>

						<dev:be.menus.actionMenuItemGroup label="Information">
							<f:be.menus.actionMenuItem label="PHP Information" controller="Information" action="listPhpInfo" />
							<f:be.menus.actionMenuItem label="Environment Variables" controller="Information" action="environmentVariables" />
							<f:be.menus.actionMenuItem label="Hooks" controller="Information" action="hooks" />
							<f:be.menus.actionMenuItem label="Signals" controller="Information" action="signals" />
							<f:be.menus.actionMenuItem label="XClasses" controller="Information" action="xclass" />
						</dev:be.menus.actionMenuItemGroup>

						<dev:be.menus.actionMenuItemGroup label="Sprite">
							<f:be.menus.actionMenuItem label="Sprite: Sprite Icons" controller="Sprite" action="listSpriteIcons" />
							<f:be.menus.actionMenuItem label="Sprite: Table Icons" controller="Sprite" action="listTableIcons" />
						</dev:be.menus.actionMenuItemGroup>

						<dev:be.menus.actionMenuItemGroup label="Extension">
							<f:be.menus.actionMenuItem label="Extension: index" controller="Extension" action="index" />
							<f:be.menus.actionMenuItem label="Extension: ext_autoload.php" controller="Extension" action="autoload" />
							<f:be.menus.actionMenuItem label="Extension: upload to TYPO3 Extenion repository" controller="Extension" action="upload" />
							<f:be.menus.actionMenuItem label="Extension: codestyle" controller="Extension" action="codestylecheck" />
						</dev:be.menus.actionMenuItemGroup>

						<dev:be.menus.actionMenuItemGroup label="Distributions">
							<f:be.menus.actionMenuItem label="Overview" controller="Distribution" action="index" />
							<f:be.menus.actionMenuItem label="Create new Distribution" controller="Distribution" action="new" />
							<f:be.menus.actionMenuItem label="Status" controller="Distribution" action="status" />
						</dev:be.menus.actionMenuItemGroup>

						<dev:be.menus.actionMenuItemGroup label="Tools">
							<f:be.menus.actionMenuItem label="Language: convert locallang.xml to locallang.xlf" controller="Language" action="xmlToXlf" />
							<f:be.menus.actionMenuItem label="System: clear all caches" controller="System" action="clearAllCaches" />
							<f:be.menus.actionMenuItem label="Css analyzer" controller="Tools" action="cssanalyze" />
							<f:be.menus.actionMenuItem label="Calculator" controller="Tools" action="calculate" />
							<f:be.menus.actionMenuItem label="Grafical diff" controller="Tools" action="diff" />
						</dev:be.menus.actionMenuItemGroup>

					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					Developer Extension
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:render section="Buttons" optional="1" />
				</div>
				<div class="right">
					Help making this Extension better by
					<a href="http://donate.kay-strobach.de/" target="_blank">donating</a>
					or
					<a href="https://github.com/kaystrobach/TYPO3.developer/issues" target="_blank">adding features</a>
					.
				</div>
			</div>
		</div>
	</div>

	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
			<f:render section="BeforeContent" optional="1"/>
			<f:flashMessages renderMode="div"/>
			<f:render section="Content" />
		</div>
	</div>
</f:be.container>
