<f:be.container
		pageTitle="plimm"
		loadJQuery="1"
		includeCssFiles="{
			1: '../typo3conf/ext/developer/Resources/Public/Contrib/carousel/css/bootstrap.css',
			2: '../typo3conf/ext/developer/Resources/Public/Stylesheet/main.css'
		}"
		includeJsFiles="{
			0: '../typo3conf/ext/themes/Resources/Public/Contrib/colorpicker/js/colorpicker.js',
			1: '../typo3conf/ext/themes/Resources/Public/JavaScript/BackendModule.js',
			2: '../typo3conf/ext/themes/Resources/Public/Contrib/unSlider/unslider.min.js',
			3: '../typo3conf/ext/themes/Resources/Public/Contrib/carousel/js/bootstrap.min.js'
		}"
		>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Default: Welcome" controller="Default" action="index" />

						<f:be.menus.actionMenuItem label="Information: PHP Information" controller="Information" action="listPhpInfo" />
						<f:be.menus.actionMenuItem label="Information: Documentation" controller="Information" action="documentation" />

						<f:be.menus.actionMenuItem label="Sprite: Sprite Icons" controller="Sprite" action="listSpriteIcons" />
						<f:be.menus.actionMenuItem label="Sprite: Table Icons" controller="Sprite" action="listTableIcons" />

						<f:be.menus.actionMenuItem label="Extension: index" controller="Extension" action="index" />
						<f:be.menus.actionMenuItem label="Extension: ext_autoload.php" controller="Extension" action="autoload" />
						<f:be.menus.actionMenuItem label="Extension: upload to TYPO3 Extenion repository" controller="Extension" action="upload" />

						<f:be.menus.actionMenuItem label="Language: convert locallang.xml to locallang.xlf" controller="Language" action="xmlToXlf" />

						<f:be.menus.actionMenuItem label="System: clear all caches" controller="System" action="clearAllCaches" />

						<f:be.menus.actionMenuItem label="Tools: cssanalyzer" controller="Tools" action="cssanalyze" />
						<f:be.menus.actionMenuItem label="Tools: calculate" controller="Tools" action="calculate" />
						<f:be.menus.actionMenuItem label="Tools: diff" controller="Tools" action="diff" />

					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					Developer Extension
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<f:render section="Buttons" optional="1" />
			</div>
		</div>
	</div>

	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
			<f:render section="BeforeContent" optional="1"/>
			<f:flashMessages renderMode="div"/>
			<f:render section="Content" />
		</div>
	</div>
</f:be.container>
