<f:layout name="Default" />

<f:section name="Buttons">

</f:section>

<f:section name="BeforeContent">
	<h1>Extension Developer</h1>

	<p>Welcome to the extension developer, hope you have fun creating your own extensions.</p>

	<p>
		<f:link.action action="documentation" controller="Information">
		If you just started to digg into TYPO3 CMS extension development, please start in the
		documentation section to learn best practice.
		</f:link.action>
	</p>

	<h2>Status of usefull extensions</h2>
</f:section>

<f:section name="Content">

</f:section>